.bg-image {
        background: url("https://image.freepik.com/free-photo/white-clound-bluesky_39086-45.jpg");
        background-size: cover; 
}

header {
    /* background-color: orange; */
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.card-text {
    list-style: none;
}

.card-group {
    margin: auto;
    padding: 10px;
    font-size: 12px;
}

.weather-day {
    margin: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    font-size: 12px;
}

h4 {
    color: white;
    font-family: sans-serif;
}


/* see cards - https://getbootstrap.com/docs/5.0/components/card/ */